/* desktop */
@media only screen and (min-width: 600px) {
    .btn-camp {
        display: block;
        width: 100px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: ease all 0.3s;
        position: fixed;
        left: 40px;
        bottom: 40px;
        z-index: 2 !important;
        animation: shake 2s;
        animation-iteration-count: infinite;
    }
    .desktop-side {
        height: 100px !important;
    }
}
/* mobile */
@media only screen and (max-width: 600px) {
    .btn-camp {
        display: block;
        width: 70px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: ease all 0.3s;
        position: fixed;
        left: 30px;
        bottom: 30px;
        z-index: 2 !important;
        animation: shake 2s;
        animation-iteration-count: infinite;
    }
}

.label-green {
    padding: 5px 10px 5px 10px;
    background-color: #09ba12;
    color: white;
    border-radius: 15px;
}

.label-red {
    padding: 5px 10px 5px 10px;
    background-color: red;
    color: white;
    border-radius: 15px;
}

.text-black-bold {
	color: black;
	font-weight: bold;
}
.text-black {
	color: black;
}

.hidden {
    display: none;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: grey;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
